body {
    font-family: 'Delicious Handrawn', cursive;
    background-color: #F1C8F1;
}

.home-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-image img {
    height: 550px;
    width: 800px;
    border: 10px solid white;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.overlay {
    position: absolute;
    top: 18%;
    left: 28%;
    font-size: 4em;
}

.see-me {
    font-family: 'Palanquin', sans-serif;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: lightpink;
    border: 3px solid white;
    align-items: center;
}

.side {
    font-family: 'Palanquin', sans-serif;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: lightpink;
    border: 3px solid white;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 20px;
}

p {
    color: #FFB0FF;
}

.see-me:hover {
    background-color: #821982;
    color: white;
    border: 5px solid white;
    text-decoration: none;
}

.side:hover {
    background-color: #821982;
    color: white;
    border: 5px solid white;
    text-decoration: none;
}

.Portfolio {
    font-family: 'Palanquin', sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
    margin: 30px;
    padding-top: 30px;
    margin-top: 30px;
}

.Portfolio:hover {
    text-decoration: none;
    color: white;
}

#see-more {
    background-color: #F1C8F1;
}

#see-more img {
    width: 30%;
    margin: 1.5%;
}

#table {
    text-align: center;
    font-family: 'Palanquin', sans-serif;
    font-size: x-large;
}

.table-info {
    border: 5px solid white;
}

.tabledata {
    padding: 10px 20px;
}

#skills {
    font-family: 'Palanquin', sans-serif;
    text-transform: uppercase;
    margin: 50px;
    padding: 10px;
}

#skills .comp-skills {
    text-decoration: underline white;
}

.text {
    font-family: 'Palanquin', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 30px;
}

#text4 {
    font-family: 'Palanquin', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 30px;
}

.overlay3 {
    position: absolute;
    top: 18%;
    left: 30%;
    font-size: 3.5em;
}

.overlay4 {
    position: absolute;
    top: 20%;
    left: 29%;
    font-size: 3.5em;
}

.overlay5 {
    position: absolute;
    top: 25%;
    left: 37%;
    font-size: 3.5em;
}

#mywritings {
    text-decoration: underline white;
    font-size: 3em;
    margin: 30px;
}

.resume {
    font-family: 'Palanquin', sans-serif;
    font-size: x-large;
    background-color: lightpink;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 15px;
    border: 2px white solid;
}

.resume:hover {
    background-color: #821982;
    color: white;
    text-decoration: none;
    border: 5px white solid;
}

.tabledata1 {
    padding: 10px 20px;
    background-color: lightskyblue;
}

footer {
    font-family: 'Palanquin', sans-serif;
    font-size: x-large;
    text-align: center;
    padding: 5px;
    background-color: lightskyblue;
    color: #000;
}

.bots {
    text-decoration: none;
    color: white;
}

.bots:hover {
    text-decoration: none;
    text-transform: uppercase;
}

.prabha {
    background-color: #219ebc;
}

.writings {
    font-size: x-large;
}